
<script type="text/javascript">
  function stripeCheckout() {
    var form = $('#donation-form');

    var handler = StripeCheckout.configure({
      key: $('meta[name="stripe-key"]').attr('content'),
      token: function(token) {
        form.find('input[name=stripeToken]').val(token.id);
        form.find('input[name=amount]').val();
        form.submit();
      }
    });
    handler.open({
      name: 'Tamada Charity',
      description: 'Donations for floods in Georgia',
      currency: 'gbp',
      email: $('input[name=email]').val(),
      amount:$('input[name=amount]').val() * 100,
    });
  }
</script>


<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading ">Donate Now</h1>
                        <a href="#donate" class="btn btn-circle page-scroll">
                            <i class="fa fa-gbp animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Tbilisi Flood</h1>
                <p>
                  12 people are reported dead and dozens missing as flash floods hit Tbilisi, Georgia. Officials have warned people to stay at home as tigers, bears and wolves escaped from the zoo and are roaming the city.Lions, bears, tigers and wolves were among at least 30 animals that escaped and were on Sunday roaming the streets.
                </p>
                <h2>Live Updates</h2>
                <a class="twitter-timeline" href="https://twitter.com/hashtag/tbilisiflood" data-widget-id="610443197223931904">#tbilisiflood Tweets</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="donate" class=" text-center">
      <div class="overlay">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1 class="">How you can help</h1>
                    <h3>Donate</h3>
                    <p>Help the animals and people recover their life</p>

                    <%= render 'layouts/stripe' %>
                </div>
            </div>
        </div>
      </div>

    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Start Bootstrap</h2>
                <p>Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!</p>
                <p><a href="mailto:feedback@startbootstrap.com">feedback@startbootstrap.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

</body>
