<body data-spy="scroll" data-target=".navbar-fixed-top" id="page-top">
<!-- Intro Header -->
  <div class="intro">
    <div class="intro-body">
      <div class="container">
        <div class="">
          <div class="col-md-8 col-md-offset-2">
            <a class=" animated page-scroll" href="#donate"><h1 class="brand-heading donate ">Donate Now</h1></a>
            <a class="btn btn-circle page-scroll" href="#donate">
              <i class="fa fa-gbp animated"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- About Section -->
  <section class="container content-section text-center" id="about">
    <div class="">
      <div class="col-lg-8 col-lg-offset-2">
        <h1>Tbilisi Flood</h1>
        <p>
          12 people are reported dead and dozens missing as flash floods hit Tbilisi, Georgia.
          Lions, bears, tigers and wolves were among at
          least 30 animals that escaped and were on Sunday roaming the streets.
        </p>
        <h2>Live Updates</h2>
        <a class="twitter-timeline" data-widget-id="610443197223931904" href="https://twitter.com/hashtag/tbilisiflood">#tbilisiflood Tweets</a>
        <script>
          !function (d, s, id) {
            var js,
              fjs = d.getElementsByTagName(s)[0],
              p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) {
              js = d.createElement(s);
              js.id = id;
              js.src = p + "://platform.twitter.com/widgets.js";
              fjs.parentNode.insertBefore(js, fjs);
            }
          }(document, "script", "twitter-wjs");
        </script>
      </div>
    </div>
  </section>
  <section class=" text-center" id="donate">
    <div class="overlay">
      <div class="download-section">
        <div class="container">
          <div class="col-lg-8 col-lg-offset-2">
            <h1 class="">How you can help?</h1>
            <h3>Donate</h3>
            <p>Help the people and animals recover their lives</p>
            <%= render 'layouts/stripe' %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container content-section text-center" id="contact">
    <div class="row">
      <div id="charity-event">
        <h1>Charity Event @
          <a href="http://www.tamada.co.uk/">Tamada</a></h2>
        <h2>28th June 2015</h2>
        <p class="charity-content"><a href="http://www.tamada.co.uk/">Tamada</a>
          will be hosting a charity event on the 28th of June, with multiple live performers to help Georgian people and wild nature.<br>100% of proceeding will be going to charities in Georgia.</p>
        <br>
          <p class="charity-content">
             There will also be georgian food and wine.
             <br>
             Dont forget to reserve your place.
          </p>
          <ul class="list-inline banner-social-buttons">
            <li>
              <a class="btn btn-default btn-lg" href="tel:+442073722882">
                <i class="fa fa-phone fa-fw"></i>
                <span class="network-name">Call Us</span></a>
            </li>
            <li>
              <a class="btn btn-default btn-lg" href="https://www.facebook.com/tamada.authenticgeorgiancuisine?ref=ts&fref=ts">
                <i class="fa fa-facebook fa-fw"></i>
                <span class="network-name">Facebook</span></a>
            </li>
            <li>
              <a class="btn btn-default btn-lg" href="mailto:info@tamada.co.uk">
                <i class="fa fa-envelope-o fa-fw"></i>
                <span class="network-name">Bookings</span></a>
            </li>
          </ul>
          <a href="https://www.google.co.uk/maps/dir//Tamada,+122+Boundary+Road,+London+NW8+0RH,+United+Kingdom/@51.537183,-0.2542532,12z/data=!4m9!4m8!1m0!1m5!1m1!1s0x48761a9f9f5ea53d:0x9b0b097fe2b35a86!2m2!1d-0.185587!2d51.537203!3e0">
            <p class="address">
              Tamada Restaurant
              <br>
                122 Boundary Road
                <br>
                  NW8 0RH, London
                  <br>
                    United Kingdom
                  </p>
                </a>
              </div>
              <div id="map"></div>
            </div>
          </section>
        </body>
