<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" data-target=".navbar-main-collapse" data-toggle="collapse" type="button">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top">
        <span class="light">British Georgian Society Fund</span>
      </a>
    </div>
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <a class="page-scroll" href="#about">About</a>
        </li>
        <li>
          <a class="page-scroll" href="#donate">Donate</a>
        </li>
        <li>
          <a class="page-scroll" href="#charity-event">Charity Event</a>
        </li>
        <li>
          <a class="page-scroll" href="#map">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
