<%= form_tag charges_path ,:remote => true, :id => 'donation-form' do %>
<label class="donation-l" name="donation" >Amount</label>
<br>
  <input type="number" id="amount" placeholder="£1 Minimum" name="amount"></input>
<br>
  <label class="donation-l">Email</label>
  <br>
  <input type="text" id="email" placeholder="john@example.com" name="email"></input>
  <br>
  <label class="donation-l">Choice of fund</label>
  <br>
    <select name="charity_type" id="charity_type">
      <option value="" disabled="disabled" selected="selected">Select Fund</option>
      <option>The First Children’s Hospice In Georgia</option>
      <option>Dzegvi Community Center</option>
      <option>Music As Therapy International</option>
      <option>Georgian Association For Mental Health</option>
    </select>


  <br>
  <input type="hidden" name="stripeToken" value=""/>
  <br>
<div class="">
  <a id="checkout"class="btn btn-default btn-lg" type="button" onclick="stripeCheckout()" data-icon="<%=asset_path'stolle.png'%>">Donate
  </a>
</div>

  <br>
  <div class="">
    All donations are securly handled by <a href="https://stripe.com/gb">Stripe</a> the worlds biggest online bank.
  </div>
  <script src="https://checkout.stripe.com/checkout.js"></script>

<% end %>
